.header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 10px;
  grid-area: h;
  background: linear-gradient(
    to right,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 24%,
    rgba(10, 119, 213, 1) 50%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  );
}
.header img {
  width: 30px;
  border-radius: 50%;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
